table
    {
    width: 100%;
    border:solid;
    height:100%;
    }



body
    {
    background-image:url("../IMG/background.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    }

ol
    {
    margin-left:30px;
    color:black;
    font-family:Verdana;
    font-size:18px;
    font-style:normal;
	}

ul
    {
	margin-left:30px;
    color:black;
    font-family:Verdana;
    font-size:18px;
    font-style:normal;
	}

p
	{
    margin-left:50px;
    color:white;
    font-family:Verdana;
    font-size:18px;
    font-style:normal;
	}

h1 	{
    text-decoration: underline;
    text-align:center;
    color:red;
    font-family:Verdana;
    font-size:30px;
    font-style:bold; 
    }


h2 	{
    margin-left:30px;
    color:lightcoral;
    font-family:Verdana;
    font-size:25px;
    font-style:light;
    }

h3
    {
    margin-left:40px;
    color:lightcoral;
    font-family:Verdana;
    font-size:20px;
    font-style:normal;
    }

h4 
    {
    text-align: center;
	color:gray;
    font-family:Verdana;
    font-size:16x;
    font-style:normal;
    }

a {
    color: coral;
}